<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Библиотека</h1>
    {% for book in data %}
        <div class="container">
            <img src="{{url_for('img', path="book_cover.png")}}" alt="Book Image">
            <div class="text">{{book.name}}<br><br>Страниц: {{book.pages}}</div>
        </div>
    {% endfor %}
</body>
</html>